pipeline/PL_SQLDB_TO_ADLS.json
{
	"name": "PL_SQLDB_TO_ADLS",
	"properties": {
		"activities": [
			{
				"name": "GetTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\n  *\nFROM\n  azuresqldb0015.INFORMATION_SCHEMA.TABLES\nWHERE table_type = 'BASE TABLE'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_inputtables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach tABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from SqlDB top ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_inputsqltables",
									"type": "DatasetReference",
									"parameters": {
										"Table_Schema": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"Table_Name": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_outputtabletofiles",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().TABLE_SCHEMA,'_',item().TABLE_NAME,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-06-04T19:19:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}